.container {
  width: 280px;
  color: #8F8F8F;
  background-color: #fff;
  margin: -10px -10px -12px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  background-color: #714B67;
  color: #fff;
  margin: -10px;
  text-align: center;
}

#projects {
  list-style: none;
  padding: 0;
  margin-top: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

#projects li {
  padding: 8px;
  background-color: #017E84;
  border-bottom: 3px solid #fff;
  border-top: 3px solid #fff;
  border-radius: 8px;
  text-align: center;
}
#projects li:hover {
  background-color: #004d52;
}

#projects a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
