.x-odoo-sh-favorite-icon, .x-odoo-sh-favorite-icon-list {
    cursor: pointer;
}

.x-odoo-sh-favorite-icon:hover {
    background-color: #00A09D;
    color: white;
}

.x-odoo-sh-favorite-icon > i.fa-star, .x-odoo-sh-favorite-icon-list.fa-star {
    color: darkorange;
}

.x-odoo-sh-favorite-icon:hover > i.fa-star {
    color: orange;
}

/*
    Attempt to fix misalignment of the dropdown in the cards view
    (.o_project_container .o_project_dropdown)
 */
.x-odoo-sh-fix-card-dropdown {
    padding: 0.6rem 0.5rem 0.4rem !important;
}

.x-odoo-sh-fix-card-buttons-row {
    display: flex !important;
    align-items: center !important;
}
